In [1]:
import pandas as pd

In [2]:
filename = 'test.csv'
df = pd.read_csv(filename)
dfTen

          Time    Sensor
0     1.090000  0.001029
1     1.093906  0.002893
2     1.097812  0.002768
3     1.101718  0.002642
4     1.105625  0.002642
...        ...       ...
1112  5.000000  0.011323
1113  5.000000  0.012692
1114  5.000000  0.012441
1115  5.000000  0.012190
1116  5.000000  0.012315

[1117 rows x 2 columns]